*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  min-height:100vh;
  background:radial-gradient(circle at top,#2a0005,#050000);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.glass{
  width:390px;
  padding:36px;
  border-radius:26px;
  background:rgba(255,255,255,.04);
  backdrop-filter:blur(18px);
  text-align:center;
  box-shadow:0 0 45px rgba(255,0,60,.25);
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  border:2px solid #ff2a55;
  box-shadow:0 0 20px rgba(255,40,80,.6);
  margin-bottom:18px;
}

h1{color:#fff;font-size:28px;}
.tagline{color:#ff9aa9;margin-top:6px;}

.status{
  margin:14px 0;
  font-size:13px;
  color:#fff;
}

.quote{
  font-size:13px;
  color:#fff;
  opacity:.9;
  margin-bottom:10px;
}


.profile-volume{
  margin:10px 0 18px;
}

.profile-volume input{
  -webkit-appearance:none;
  width:100%;
  height:6px;
  border-radius:6px;
  background:linear-gradient(
    to right,
    #ff2a55 var(--vol,60%),
    #3a0a14 var(--vol,60%)
  );
  cursor:pointer;
}

.profile-volume input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#ff2a55;
  box-shadow:0 0 10px rgba(255,40,80,.8);
}

.socials{
  display:flex;
  justify-content:center;
  gap:12px;
  margin:18px 0;
}

.socials a{
  padding:8px 16px;
  border-radius:20px;
  background:rgba(255,60,90,.12);
  color:#ffd6dd;
  text-decoration:none;
}

.music-bar{
  display:flex;
  align-items:center;
  padding:14px;
  border-radius:16px;
  background:rgba(20,10,10,.75);
}

.cover{
  width:52px;
  height:52px;
  border-radius:10px;
}

.info{flex:1;margin-left:14px;}

.title{color:#fff;font-size:14px;}

.time{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:11px;
  color:#ffb6c3;
}

.progress{
  flex:1;
  height:4px;
  background:#3a0a14;
  border-radius:4px;
  cursor:pointer;
}

.progress-bar{
  height:100%;
  width:0%;
  background:#ff2a55;
}

.controls button{
  background:none;
  border:none;
  font-size:20px;
  color:#ffdee5;
  cursor:pointer;
  margin-left:6px;
}

.loop-btn svg{
  width:20px;
  height:20px;
  fill:#551018;
  opacity:.6;
}

.loop-btn.active svg{
  fill:#ff2a55;
  opacity:1;
  filter:drop-shadow(0 0 6px rgba(255,40,80,.6));
}


.flower{
  position:fixed;
  top:-20px;
  width:14px;
  height:14px;
  background:radial-gradient(circle,#ffd6dd,#ff2a55);
  border-radius:50%;
  opacity:.8;
  animation:fall linear forwards;
  pointer-events:none;
}

@keyframes fall{
  to{
    transform:translateY(110vh) rotate(360deg);
    opacity:0;
  }
}

@media(max-width:768px){
  .glass{width:95%;}
}
